<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
  		http://www.springframework.org/schema/context  
 	 	http://www.springframework.org/schema/context/spring-context-4.2.xsd  
  		http://www.springframework.org/schema/mvc  
  		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
  		http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
  		http://www.springframework.org/schema/task 
  		http://www.springframework.org/schema/task/spring-task-4.2.xsd
  		http://www.springframework.org/schema/aop
  		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 属性文件位置 -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<mvc:resources location="/resources/" mapping="/resources/**" />

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>


	<mvc:interceptors>
		<bean class="jwcms.user.interceptor.LoggerInterceptor" />
		<bean class="jwcms.user.interceptor.BeforeRequestInterceptor" />

		<!-- 对 物流商PC端 / 司机APP端 相关Web API进行拦截 -->
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<bean class="jwcms.user.interceptor.LoginRequiredInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="exceptionResolver" class="jwcms.user.framework.OverallExceptionResolver" />

	<import resource="classpath:dubbo-consumer.xml" />
</beans>
