<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
  		http://www.springframework.org/schema/context  
 	 	http://www.springframework.org/schema/context/spring-context-4.2.xsd  
  		http://www.springframework.org/schema/mvc  
  		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
  		http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
  		http://www.springframework.org/schema/task 
  		http://www.springframework.org/schema/task/spring-task-4.2.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="connectionFactory" host="${rmq.host}" username="${rmq.username}" password="${rmq.password}" port="${rmq.port}" virtual-host="${rmq.virtualhost}" />

	<rabbit:admin connection-factory="connectionFactory" />
	
	<!-- exchange queue binging key 绑定 -->
	<rabbit:topic-exchange id="scm.optimus.service.exchange" name="scm.optimus.service.exchange" durable="true" auto-delete="false" />
	
	<!--spring amqp默认的是jackson 的一个插件,目的将生产者生产的数据转换为json存入消息队列，由于fastjson的速度快于jackson,这里替换为fastjson的一个实现 -->
	<!-- <bean id="jsonMessageConverter" class="me.ele.mercurius.logistics.rabbitmq.FastJsonMessageConverter" /> -->

	<!-- spring template声明 -->
	<!-- <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" message-converter="jsonMessageConverter" /> -->

</beans>
