<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- 属性文件位置 -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>
    
	<!-- 1. 数据源 : DriverManagerDataSource -->
	<!--
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	-->
	<!-- <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">  
        数据库驱动
        <property name="driverClass" value="${jdbc.driver}" />
        相应驱动的jdbcUrl,你懂的
        <property name="jdbcUrl" value="${jdbc.url}" />
        数据库的用户名
        <property name="username" value="${jdbc.username}" />
        数据库的密码
        <property name="password" value="${jdbc.password}" />
        检查数据库连接池中空闲连接的间隔时间，单位是分，默认值：240，如果要取消则设置为0
        <property name="idleConnectionTestPeriod" value="${bonecp.idleConnectionTestPeriod}" />
        连接池中未使用的链接最大存活时间，单位是分，默认值：60，如果要永远存活设置为0
        <property name="idleMaxAge" value="${bonecp.idleMaxAge}" />
        每个分区最大的连接数
        <property name="maxConnectionsPerPartition" value="${bonecp.maxConnectionsPerPartition}" />
        每个分区最小的连接数
        <property name="minConnectionsPerPartition" value="${bonecp.minConnectionsPerPartition}" />
        分区数 ，默认值2，最小1，推荐3-4，视应用而定
        <property name="partitionCount" value="${bonecp.partitionCount}" />
        每次去拿数据库连接的时候一次性要拿几个,默认值：2
        <property name="acquireIncrement" value="${bonecp.acquireIncrement}" />
        缓存prepared statements的大小，默认值：0
        <property name="statementsCacheSize" value="${bonecp.statementsCacheSize}" />
        每个分区释放链接助理进程的数量，默认值：3，除非你的一个数据库连接的时间内做了很多工作，不然过多的助理进程会影响你的性能
        <property name="releaseHelperThreads" value="${bonecp.releaseHelperThreads}" />
    </bean> -->
    
	<!--
		2. mybatis的SqlSession的工厂: SqlSessionFactoryBean dataSource:引用数据源

		MyBatis定义数据源,同意加载配置
	-->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-maptable.xml" />
	</bean> -->

	<!--
		3. mybatis自动扫描加载Sql映射文件/接口 : MapperScannerConfigurer sqlSessionFactory

		basePackage:指定sql映射文件/接口所在的包（自动扫描）
	-->
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="jwcms.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> -->

	<!--
		4. 事务管理 : DataSourceTransactionManager dataSource:引用上面定义的数据源
	-->
	<!-- <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean> -->

	<!-- 5. 使用声明式事务
		 transaction-manager：引用上面定义的事务管理器
	 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
    
   <!--  <import resource="classpath*:activiti.cfg.xml" />
    <import resource="classpath:config/spring-ehcache.xml" />
    <import resource="classpath:config/spring-metrics.xml" />
    <import resource="classpath:config/spring-mongodb.xml" />
    <import resource="classpath:config/spring-mvc.xml" />
    <import resource="classpath:config/spring-redis.xml" />
    <import resource="classpath:config/spring-security.xml" />
    
    <import resource="classpath:config/spring-quartz2.xml" />
    <import resource="classpath:config/spring-quartz.xml" /> -->
    
    <import resource="classpath:dubbo-consumer.xml" />
</beans>
