<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户表 tb_user 数据库操作接口XML实现 -->
<mapper namespace="jwcms.user.dao.UserDao">
	<resultMap id="BaseResultMap" type="jwcms.user.dao.model.TUser">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
	</resultMap>

	<sql id="Base_Column_List_Insert">
		user_id
		,user_name
		,password
	</sql>

	<sql id="Base_Column_List">
		<include refid="Base_Column_List_Insert" />
	</sql>
	
	<sql id="insert_column">
		<trim suffixOverrides=",">
			id,
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
	</sql>

	<sql id="insert_value">
		<trim suffixOverrides=",">
			null,
			<if test="userName != null">
				#{userName, jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password, jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>
	
	<!-- 添加 货车表 数据 -->
	<insert id="createUser" parameterType="jwcms.user.dao.model.TUser" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user (
		<include refid="insert_column" />
		)
		values (
		<include refid="insert_value" />
		)
	</insert>

	<!-- 修改 货车表 数据 -->
	<update id="updateUser" parameterType="jwcms.user.dao.model.TUser">
		UPDATE tb_truck
		SET
		<if test="userName != null">
			user_name = #{userName},
		</if>

		<if test="password != null">
			password = #{password},
		</if>
		
		user_id = #{userId}
		WHERE id = #{userId}
	</update>

	<!-- 根据ID删除 货车表 数据 -->
	<update id="removeUser" parameterType="java.lang.Long">
		UPDATE tb_user
		SET is_delete = 1
		WHERE id = #{id}
	</update>

	<!-- 根据ID查询 货车表 数据 -->
	<select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_user
		WHERE is_delete = 0
		AND id = #{id}
	</select>
	
</mapper>
